absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
async-timeout
attrs
certifi
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
dill
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
fvcore
gitdb
GitPython
h11
h5py
hf-xet
httpcore
httpx
huggingface-hub
idna
iopath
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
ml_collections
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
packaging
pandas
parso
pexpect
pillow
platformdirs
portalocker
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
sentry-sdk
shellingham
six
smmap
sniffio
stack-data
sympy
tabulate
termcolor
threadpoolctl
timm
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
wandb
wcwidth
xgboost
xxhash
yacs
yarl
